@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--pale-blue);
}

.card {
  max-width: 450px;
  background-color: #fff;
  border-radius: 20px;
}

img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 50px;
}

.card-text h1 {
  font-size: 29px;
  color: var(--dark-blue);
  font-weight: 700;
}

.card-text p {
  color: var(--desaturated-blue);
  font-size: 16px;
  font-weight: 300;
  margin: 20px 20px 25px 20px;
  line-height: 25px;
}

.box {
  display: flex;
  align-items: center;
  background-color: var(--very-pale-blue);
  padding: 24px;
  gap: 20px;
  border-radius: 10px;
}

.box a {
  margin-left: auto;
  font-size: 14px;
  color: var(--bright-blue);
  transition: color 0.1s ease-in-out;
}

.box a:hover {
  text-decoration: none;
  color: #786cf4;
}

.box ul {
  line-height: 26px;
}

.box li:first-child {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 16px;
}

.box li:nth-child(2) {
  color: var(--desaturated-blue);
  font-size: 16px;
}

ul {
  list-style-type: none;
}

.payment {
  padding: 17px;
  border: none;
  background-color: var(--bright-blue);
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 15px;
  box-shadow: 0 13px 20px 0px hsl(245, 75%, 52%, 0.2);
  transition: background-color 0.1s ease-in-out;
}

.payment:hover {
  background-color: #786cf4;
  cursor: pointer;
}

.cancel {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: var(--desaturated-blue);
  font-weight: 700;
  margin-top: 30px;
  font-size: 15px;
}

.cancel:hover {
  color: var(--dark-blue);
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-weight: 700;
}

@media only screen and (max-width: 400px) {
  body {
    background-image: url(images/pattern-background-mobile.svg);
  }
  .card {
    width: 90%;
    margin-top: 20px;
  }

  .card-text {
    padding: 15px;
    padding-bottom: 30px;
  }

  .card-text h1 {
    font-size: 24px;
  }
}
